<footer class="bg-gray">
  <ul class="nav-list">
    <li>© 2022 <a href="http://www.veteranslist.org">veteranslist</a></li>
    <li><a href="#">help</a></li>
    <li><a href="#">safety</a></li>
    <li><a href="#">privacy</a></li>
    <li><a href="#">feedback</a></li>
    <li><a href="#">terms</a></li>
    <li><a href="#">about</a></li>
  </ul>
</footer>
