<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
<meta charset="UTF-8" />
<meta name="keywords"
  content="veteranslist provides local classifieds and forums for jobs, housing, for sale, services, local community, and events" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta property="og:site_name" content="veteranslist" />
<meta name="twitter:card" content="preview" />
<meta property="og:title"
  content="veteranslist: <%= city %> jobs, apartments, for sale, services, community, and events" />
<meta name="description"
  content="veteranslist provides local classifieds and forums for jobs, housing, for sale, services, local community, and events" />
<meta property="og:description"
  content="veteranslist provides local classifieds and forums for jobs, housing, for sale, services, local community, and events" />
<meta property="og:url" content="https://veteranslist.org/<%= city %>" />
<title>veteranslist: <%= city %> jobs, apartments, for sale, services, community, and events</title>
<link rel="icon" type="image/x-icon" href="favicon.ico" />
<link rel="stylesheet"
  href="../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css">
<link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/brands.min.css">
<link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/solid.min.css">
<link rel="stylesheet" href="stylesheets/normalize.css" />
<link type="text/css" rel="stylesheet" href="stylesheets/main.css" />