<header class="bg-gray">
  <a href="https://veteranslist.org" id="header-logo" class="logo bg-white">VL</a>
  <div id="location-heading" class="heading"><%= `${city}, ${state}` %></div>
  <nav>
    <ul id="header-nav-list" class="nav-list">
      <li><a href="#">post</a></li>
      <li><a href="#">account</a></li>
    </ul>
  </nav>
</header>
