<div id="leftbar" class='bg-gray'>
  <h1 id="logo">
    <a href="https://www.veteranslist.org/about/sites">veteranslist</a>
  </h1>

  <ul id="postlks">
    <li><a id="post" href="https://post.veteranslist.org/c/orl">create a posting</a></li>
    <li><a href="https://accounts.veteranslist.org/login/home">my account</a></li>
  </ul>

  <form id="leftbar-search-form" class="search-form" action="/search/" method="GET">
    <input id="leftbar-search-input-box" class="input-box" name="query"
      data-autocomplete="search-count" autocorrect="off" autocapitalize="off"
      placeholder="search veteranslist" autofocus="autofocus" autocomplete="off">
  </form>

  <div>
    <h4 id="calban"><a href="/search/eee">event calendar</a></h4>
    <table class="cal">
      <tbody>
        <tr class="days">
          <th>M</th>
          <th>T</th>
          <th>W</th>
          <th>T</th>
          <th>F</th>
          <th>S</th>
          <th>S</th>
        </tr>
        <tr>
          <td class="today "><a
              href="//orlando.veteranslist.org/search/eee?sale_date=2022-06-27">27</a></td>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-06-28">28</a>
          </td>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-06-29">29</a>
          </td>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-06-30">30</a>
          </td>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-07-01">1</a>
          </td>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-07-02">2</a>
          </td>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-07-03">3</a>
          </td>
        </tr>
        <tr>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-07-04">4</a>
          </td>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-07-05">5</a>
          </td>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-07-06">6</a>
          </td>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-07-07">7</a>
          </td>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-07-08">8</a>
          </td>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-07-09">9</a>
          </td>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-07-10">10</a>
          </td>
        </tr>
        <tr>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-07-11">11</a>
          </td>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-07-12">12</a>
          </td>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-07-13">13</a>
          </td>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-07-14">14</a>
          </td>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-07-15">15</a>
          </td>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-07-16">16</a>
          </td>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-07-17">17</a>
          </td>
        </tr>
        <tr>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-07-18">18</a>
          </td>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-07-19">19</a>
          </td>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-07-20">20</a>
          </td>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-07-21">21</a>
          </td>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-07-22">22</a>
          </td>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-07-23">23</a>
          </td>
          <td class=""><a href="//orlando.veteranslist.org/search/eee?sale_date=2022-07-24">24</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ul class="leftlinks" id="user_resources">
    <li><a href="https://www.veteranslist.org/about/veteranslist_app">veteranslist app</a></li>
    <li><a href="https://www.veteranslist.org/about/help/">help, faq, abuse, legal</a></li>
    <li><a href="https://www.veteranslist.org/about/scams">avoid scams &amp; fraud</a></li>
    <li><a href="https://www.veteranslist.org/about/safety">personal safety tips</a></li>
    <li><a href="https://www.veteranslist.org/about/terms.of.use">terms of use</a></li>
    <li><a href="https://www.veteranslist.org/about/privacy.policy">privacy policy</a></li>
    <li><a href="https://www.veteranslist.org/about/help/system-status">system status</a></li>
  </ul>

  <ul class="leftlinks" id="about_veteranslist">
    <li><a href="https://www.veteranslist.org/about/">about veteranslist</a></li>
    <li><a href="https://www.veteranslist.org/about/veteranslist_is_hiring">veteranslist is
        hiring</a></li>
    <li><a href="https://www.veteranslist.org/about/open_source">veteranslist open source</a></li>
    <li><a href="http://blog.veteranslist.org/">veteranslist blog</a></li>
    <li><a href="https://www.veteranslist.org/about/best/all/">best-of-veteranslist</a></li>
    <li><a href="http://www.veteranslistjoe.com/">"veteranslist joe"</a></li>
    <li><a href="https://craignewmarkphilanthropies.org/">craig newmark<br>philanthropies</a>
    </li>
  </ul>

</div>