<div id="rightbar" class='bg-gray'>

  <button type='button' id='nearby-cl-btn' class="btn dropdown-btn disabled"
    onclick='rightbarDropdownClick(event)' data.name='nearby-cl'>nearby cl
    <i id='nearby-cl-dropdown-btn-arrow' class="fa-solid fa-angle-down dropdown-btn-arrow">
    </i>
  </button>
  <ul id='nearby-cl-dropdown' class='dropdown'>
    <li><a href="//albanyga.craigslist.org">albany</a></li>
    <li><a href="//auburn.craigslist.org">auburn</a></li>
    <li><a href="//brunswick.craigslist.org">brunswick</a></li>
    <li><a href="//charleston.craigslist.org">charleston</a></li>
    <li><a href="//columbusga.craigslist.org">columbus</a></li>
    <li><a href="//daytona.craigslist.org">daytona beach</a></li>
    <li><a href="//dothan.craigslist.org">dothan</a></li>
    <li><a href="//keys.craigslist.org">florida keys</a></li>
    <li><a href="//fortmyers.craigslist.org">fort myers</a></li>
    <li><a href="//gainesville.craigslist.org">gainesville</a></li>
    <li><a href="//cfl.craigslist.org">heartland fl</a></li>
    <li><a href="//hiltonhead.craigslist.org">hilton head</a></li>
    <li><a href="//jacksonville.craigslist.org">jacksonville</a></li>
    <li><a href="//lakecity.craigslist.org">lake city</a></li>
    <li><a href="//lakeland.craigslist.org">lakeland</a></li>
    <li><a href="//macon.craigslist.org">macon</a></li>
    <li><a href="//ocala.craigslist.org">ocala</a></li>
    <li><a href="//okaloosa.craigslist.org">okaloosa</a></li>
    <li><a href="//orlando.craigslist.org">orlando</a></li>
    <li><a href="//panamacity.craigslist.org">panama city</a></li>
    <li><a href="//pensacola.craigslist.org">pensacola</a></li>
    <li><a href="//sarasota.craigslist.org">sarasota</a></li>
    <li><a href="//savannah.craigslist.org">savannah</a></li>
    <li><a href="//miami.craigslist.org">south florida</a></li>
    <li><a href="//spacecoast.craigslist.org">space coast</a></li>
    <li><a href="//statesboro.craigslist.org">statesboro</a></li>
    <li><a href="//staugustine.craigslist.org">st augustine</a></li>
    <li><a href="//tallahassee.craigslist.org">tallahassee</a></li>
    <li><a href="//treasure.craigslist.org">treasure coast</a></li>
    <li><a href="//valdosta.craigslist.org">valdosta</a></li>
  </ul>
  <button type='button' id='us-cities-btn' class="btn dropdown-btn"
    onclick='rightbarDropdownClick(event)' data.name='us-cities'>us cities
    <i id='us-cities-dropdown-btn-arrow' class="fa-solid fa-angle-down dropdown-btn-arrow right">
    </i>
  </button>
  <ul id='us-cities-dropdown' class='dropdown collapsed'>
    <li><a href="http://atlanta.craigslist.org">atlanta</a></li>
    <li><a href="http://austin.craigslist.org">austin</a></li>
    <li><a href="http://boston.craigslist.org">boston</a></li>
    <li><a href="http://chicago.craigslist.org">chicago</a></li>
    <li><a href="http://dallas.craigslist.org">dallas</a></li>
    <li><a href="http://denver.craigslist.org">denver</a></li>
    <li><a href="http://detroit.craigslist.org">detroit</a></li>
    <li><a href="http://houston.craigslist.org">houston</a></li>
    <li><a href="http://lasvegas.craigslist.org">las&nbsp;vegas</a></li>
    <li><a href="http://losangeles.craigslist.org">los&nbsp;angeles</a></li>
    <li><a href="http://miami.craigslist.org">miami</a></li>
    <li><a href="http://minneapolis.craigslist.org">minneapolis</a></li>
    <li><a href="http://newyork.craigslist.org">new&nbsp;york</a></li>
    <li><a href="http://orangecounty.craigslist.org">orange&nbsp;co</a></li>
    <li><a href="http://philadelphia.craigslist.org">philadelphia</a></li>
    <li><a href="http://phoenix.craigslist.org">phoenix</a></li>
    <li><a href="http://portland.craigslist.org">portland</a></li>
    <li><a href="http://raleigh.craigslist.org">raleigh</a></li>
    <li><a href="http://sacramento.craigslist.org">sacramento</a></li>
    <li><a href="http://sandiego.craigslist.org">san&nbsp;diego</a></li>
    <li><a href="http://seattle.craigslist.org">seattle</a></li>
    <li><a href="http://sfbay.craigslist.org">sf&nbsp;bayarea</a></li>
    <li><a href="http://washingtondc.craigslist.org">wash dc</a></li>

  </ul>
  <button type='button' id='us-states-button' class="btn dropdown-btn"
    onclick='rightbarDropdownClick(event)' data.name='us-states'>us states
    <i id='us-states-dropdown-btn-arrow' class="fa-solid fa-angle-down dropdown-btn-arrow right">
    </i>
  </button>
  <ul id='us-states-dropdown' class='dropdown collapsed'>
    <li><a href="//geo.craigslist.org/iso/us/al">alabama</a></li>
    <li><a href="//geo.craigslist.org/iso/us/ak">alaska</a></li>
    <li><a href="//geo.craigslist.org/iso/us/az">arizona</a></li>
    <li><a href="//geo.craigslist.org/iso/us/ar">arkansas</a></li>
    <li><a href="//geo.craigslist.org/iso/us/ca">california</a></li>
    <li><a href="//geo.craigslist.org/iso/us/co">colorado</a></li>
    <li><a href="//geo.craigslist.org/iso/us/ct">connecticut</a></li>
    <li><a href="//geo.craigslist.org/iso/us/dc">dc</a></li>
    <li><a href="//geo.craigslist.org/iso/us/de">delaware</a></li>
    <li><a href="//geo.craigslist.org/iso/us/fl">florida</a></li>
    <li><a href="//geo.craigslist.org/iso/us/ga">georgia</a></li>
    <li><a href="//geo.craigslist.org/iso/gu">guam</a></li>
    <li><a href="//geo.craigslist.org/iso/us/hi">hawaii</a></li>
    <li><a href="//geo.craigslist.org/iso/us/id">idaho</a></li>
    <li><a href="//geo.craigslist.org/iso/us/il">illinois</a></li>
    <li><a href="//geo.craigslist.org/iso/us/in">indiana</a></li>
    <li><a href="//geo.craigslist.org/iso/us/ia">iowa</a></li>
    <li><a href="//geo.craigslist.org/iso/us/ks">kansas</a></li>
    <li><a href="//geo.craigslist.org/iso/us/ky">kentucky</a></li>
    <li><a href="//geo.craigslist.org/iso/us/la">louisiana</a></li>
    <li><a href="//geo.craigslist.org/iso/us/me">maine</a></li>
    <li><a href="//geo.craigslist.org/iso/us/md">maryland</a></li>
    <li><a href="//geo.craigslist.org/iso/us/ma">mass</a></li>
    <li><a href="//geo.craigslist.org/iso/us/mi">michigan</a></li>
    <li><a href="//geo.craigslist.org/iso/us/mn">minnesota</a></li>
    <li><a href="//geo.craigslist.org/iso/us/ms">mississippi</a></li>
    <li><a href="//geo.craigslist.org/iso/us/mo">missouri</a></li>
    <li><a href="//geo.craigslist.org/iso/us/mt">montana</a></li>
    <li><a href="//geo.craigslist.org/iso/us/nc">n carolina</a></li>
    <li><a href="//geo.craigslist.org/iso/us/ne">nebraska</a></li>
    <li><a href="//geo.craigslist.org/iso/us/nv">nevada</a></li>
    <li><a href="//geo.craigslist.org/iso/us/nj">new jersey</a></li>
    <li><a href="//geo.craigslist.org/iso/us/nm">new mexico</a></li>
    <li><a href="//geo.craigslist.org/iso/us/ny">new york</a></li>
    <li><a href="//geo.craigslist.org/iso/us/nh">n hampshire</a></li>
    <li><a href="//geo.craigslist.org/iso/us/nd">north dakota</a></li>
    <li><a href="//geo.craigslist.org/iso/us/oh">ohio</a></li>
    <li><a href="//geo.craigslist.org/iso/us/ok">oklahoma</a></li>
    <li><a href="//geo.craigslist.org/iso/us/or">oregon</a></li>
    <li><a href="//geo.craigslist.org/iso/us/pa">pennsylvania</a></li>
    <li><a href="//geo.craigslist.org/iso/pr">puerto rico</a></li>
    <li><a href="//geo.craigslist.org/iso/us/ri">rhode island</a></li>
    <li><a href="//geo.craigslist.org/iso/us/sc">s carolina</a></li>
    <li><a href="//geo.craigslist.org/iso/us/sd">south dakota</a></li>
    <li><a href="//geo.craigslist.org/iso/us/tn">tennessee</a></li>
    <li><a href="//geo.craigslist.org/iso/us/tx">texas</a></li>
    <li><a href="//geo.craigslist.org/iso/us/ut">utah</a></li>
    <li><a href="//geo.craigslist.org/iso/us/vt">vermont</a></li>
    <li><a href="//geo.craigslist.org/iso/us/va">virginia</a></li>
    <li><a href="//geo.craigslist.org/iso/us/wa">washington</a></li>
    <li><a href="//geo.craigslist.org/iso/us/wv">west virginia</a></li>
    <li><a href="//geo.craigslist.org/iso/us/wi">wisconsin</a></li>
    <li><a href="//geo.craigslist.org/iso/us/wy">wyoming</a></li>
  </ul>
</div>