<!-- Copyright (c) 2007 [Sur http://expressica.com] -->
<div id='simple_captcha'> 
  <%= @simple_captcha_options[:image] %>
  <%= @simple_captcha_options[:field] %>
  <%= @simple_captcha_options[:label] %>  
</div>