<ul id="menulinks">
  <li><a href="/">home</a></li>
  <li><%= link_to 'cities', cities_path %></li>
  <li><%= link_to 'categories', categories_path %></li>
  <li><%= link_to 'subcategories', subcategories_path %></li>  
  <li><%= link_to 'classified ads', classifieds_path %></a></li>
  <li><a href="/logout">logout</a></li>
</ul>        
<div id="poweredby">powered by <a href="http://www.railslist.com">railslist</a></div>