<ul id="menulinks">
  <li><a href="/">home</a></li>
  <li><%= link_to "post to classifieds", new_classified_path %></li> 
  <li>privacy, terms of use</li> 
  <li>faq, help, about us</li>    
</ul>        
<div id="poweredby">powered by <a href="http://www.railslist.com">railslist</a></div>